OPENROUTER_API_KEY=sua_chave_api_openrouter_aqui

# Modelo do OpenRouter (Opcional - Padrão é meta-llama/llama-3.3-70b-instruct:free)
# OPENROUTER_MODEL=meta-llama/llama-3.3-70b-instruct:free

SCRYFALL_API_URL=https://api.scryfall.com
